.accordian-title button {
  padding: 0;
  margin: 0;
}
.annotatedSection-border .Polaris-Layout__AnnotatedSection:not(:first-of-type) {
  border-top: 0.1rem solid #dfe3e8;
}
.icon-size .Polaris-Icon {
  height: 2rem;
  width: 2rem;
}
.LPR_RedeemModal .p-theme-light {
  --p-space-400: 0;
}

/* Toggle switch */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial, sans-serif;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px #7c7c7c;
  transition: 0.3s;
  border-radius: 20px;
  width: 36px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 50%;
  background-color: #7c7c7c;
}

.switch input:checked + .slider {
  background-color: #1d1a1a;
}

.switch input:checked + .slider:before {
  transform: translateX(15px);
  background-color: #fff;
}