.widget-scroll-container {
    overflow-y: auto;
    max-height: 480px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.widget-scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

